/*========== General CSS ==========*/
* {
   box-sizing: border-box;
   font-family: Arial, sans-serif;
}

:root {
   --short-transition: 0.1s;
   --medium-transition: 0.5s;
   --long-transition: 4s;
   --default-colour: #2EB2FF;
   --default-accent: #b9dcf0;

   --green-colour: #5ac25d;
   --green-accent: #a6d9a8;

   --red-colour: #e23a3a;
   --red-accent: #f29590;

   --background-colour: #f2f2f2;
   --grey-1: #e9e9e9;
}

body {
   background-color: var(--background-colour);
   margin: 0;
}

.hidden {
   display: none;
}

.hiddenplus {
  visibility: collapse;
}

/*========== Topnav CSS ==========*/
.topnav {
   padding: 0px 20px;
   margin: 0px auto;
   width: 80%;
}
.topnav img {
   height: 44px;
   float: left;
}

.topnav_options {
   text-align: right;
}

.topnav button {
   background-color: transparent;
   margin: 5px;
   padding: 5px;
}

.topnav button:hover {
   background-color: #d7d7d7;
   border-radius: 50%;
 }

.topnav .material-symbols-outlined {
   font-variation-settings:
   'FILL' 0,
   'wght' 400,
   'GRAD' 100,
   'opsz' 48;

   font-size: x-large !important;
   vertical-align: bottom;
 }

/*========== Main CSS ==========*/
h1 {
   font-family: Verdana, sans-serif;
   font-size: 40px;
   text-align: center;
   color: var(--default-colour);
}

.main {
   background-color: #FFFFFF;
   border-radius: 20px;
   padding: 15px;
   margin: 0px auto 15px auto;
   width: 80%;
   height: calc(100vh - (60px));
   box-shadow: 0px 0px 10px #c0c0c0;
}

.content {
   display:none;
   height: calc(96% - 45px);
   margin: 18px 0px 10px 0px;
}

.content.active {
   display:block;
}


/*========== Menu CSS ==========*/
.menu{
  background-color: #FFFFFF;
}

.menu_options a {
   display: inline-block;
   padding: 10px 5px;
   color: #333;
   font-size: large;
   text-decoration: none;
   width: 180px;
   background-color: #FFFFFF;
   transition-duration: var(--short-transition);
}

.menu_options span {
   padding-right: 5px;
}

.menu_options a:hover {
   background-color: var(--grey_1);
}

.menu_options a.active {
   box-shadow: 0 3px 0 var(--default-colour);
   color: var(--default-colour);
}

.menu_options .material-symbols-outlined {
   font-variation-settings:
   'FILL' 0,
   'wght' 700,
   'GRAD' 200,
   'opsz' 48;

   font-size: large !important;
   vertical-align: bottom;
   margin-bottom: 2px;
 }

 /*========== Side Panel CSS ==========*/

 .panel {
   background-color: #FFFFFF;
   border-radius: 10px;
   padding: 15px;
   margin: 0px 20px 20px 0px;
   width: 150px;
   height: calc(100vh - (149px));
   box-shadow: 0px 0px 10px #c0c0c0;
   float: left;
   position: relative;
 }

 .panel button, .panel select {
   width: 120px;
   border-radius: 15px;
   text-align: left;
   padding: 0px 15px;
   height: 50px;
   background-color: var(--background-colour);
   border: 3px solid var(--background-colour);
   font-size: medium;
   margin: 0px 0px;
   transition: 0.8s;
 }

 .panel button {
  margin: 0px 0px 15px 0px;
 }

 .buttons {
   position: absolute;
   bottom: 0;
   left: 0;
   display: inline-block;
   margin: 0px 15px;
 }

.panel .material-symbols-outlined {
   font-variation-settings:
   'FILL' 0,
   'wght' 700,
   'GRAD' 200,
   'opsz' 48;

   font-size: large !important;
   vertical-align: bottom;
   margin-bottom: 2px;
   float: right;
 }

/*========== Budget CSS ==========*/
 .type {
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 15px;
  margin: 0px 0px 15px 0px;
  width: calc(100% - 170px);
  height: calc(50vh - (160px));
  box-shadow: 0px 0px 10px #c0c0c0;
  float: left;
  overflow-y: auto;
  position: relative;
}

.type h2 {
  font-size: medium;
  transform-origin: left;
  margin: 0;
  left: 0;
  width: fit-content;
  transform: rotate(-90deg) translateX(calc((-50vh + 160px - 15px)/2)) translateY(calc(10vw + 200px));
  position: fixed;
}

h2#Balance {
  transform: rotate(-90deg) translateX(calc((-140px - 15px)/2)) translateY(calc(10vw + 200px));
}

.type h3 {
  margin: 0px;
  font-size: 14px;
  left: 0;
  width: fit-content;
  transform: rotate(-90deg) translateX(calc(-50%)) translateY(calc(10px));
  position: absolute;
}

#typeBalance h3 {
  transform: rotate(-90deg) translateX(calc(-100% - 5px)) translateY(calc(30px));
}

.type table {
  float: right;
  width: calc(100% - 15px);
}

#typeIncomes {
  background-color: var(--green-accent);
}

#typeExpenses {
  background-color: var(--red-accent);
}

#typeBalance {
  height: 140px;
  background-color: var(--default-accent);
}

.headers {
  float: right;
  width: calc(100% - 20px);
}

.header {
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 10px;
  margin: 0px 0px 15px 0px;
  width: calc(100%);
  box-shadow: 0px 0px 10px #c0c0c0;
  float: left;
}

/*========== Table CSS ==========*/
table {
   border-collapse: collapse;
   width: 100%;
   border-radius: 8px;
   overflow: hidden;
 }
 
 th, td {
   padding: 2px;
 
 }
 
 tr:nth-child(even) {
   background-color: #f2f2f2;
 }
 
 th {
   background-color: var(--default-colour);
   color: white;
   text-align: center;
 }

 #budget_table tr:last-child, #budget_table td:last-child{
  background-color: var(--default-accent)
 }

 #category_table th {
  text-align: left;
 }

 #category_table {
  margin-bottom: 20px;
 }

 input {
   width: 100%;
   border: none;
   background-color: transparent;
   padding: none;
   text-align: center;
   padding: 0;
 }

 input:read-only{
  outline: none;
 }

/*========== Dropdown Button CSS ==========*/
.dropbtn {
   padding: 16px;
   font-size: 16px;
   border: none;
   cursor: pointer;
 }
 
 .dropdown {
   position: relative;
   display: inline-block;
 }
 
 .dropdown-content {
   display: none;
   position: fixed;
   right: calc(10% + 16px + 20px);
   top: 10px;
   z-index: 1;

   background-color: var(--background-colour);
   border-radius: 20px;
   margin: 34px auto;
   width: 150px;
   box-shadow: 0px 0px 10px #c0c0c0;
   text-align: left;
 }
  
 .dropdown:hover .dropdown-content {
   display: block;
 }

 .dropdown-content a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
 }

 .dropdown-content a:hover {
   border-radius: 20px;
   background-color: var(--default-accent);
 }

 /*========== Util Form CSS ==========*/
.util_page {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  display: none;
  background-color: #FFFFFF;

  border-radius: 10px;
  padding: 15px;
  width: 35%;
  box-shadow: 0px 0px 10px #c0c0c0;
}

.util_form {
  width: 90%;
  margin: 5%;
}

.util_form h2, .util_form p {
  font-size: large;
  border-bottom: 2px solid var(--grey-1);
  margin: 20px 0px;
  padding-bottom: 5px;
}

.util_form button, .util_form select, .util_form input[type=text] {
  width: 100%;
  border-radius: 15px;
  text-align: left;
  height: 50px;
  margin: 5px 0px 25px 0px;
  background-color: var(--background-colour);
  border: 3px solid var(--background-colour);
  font-size: medium;
  transition: 0.8s;
  overflow: hidden
}

.util_form button {
  width: 120px;
  text-align: center;
}

.util_form .cancel {
  float: left;
}

.util_form .save {
  float: right;
}

.util_form input {
  padding-left: 5px;
}

.util_page.visible {
  display: block;
}

.overlay{
   background-color: black;
   opacity: 0.3;
   z-index: 9998;
}

 /*========== Form Elements CSS ==========*/

button:hover, select:hover, input[type=text]:hover {
  transition: var(--short-transition);
  background-color: #FFFFFF;
}

select option {
  background-color: var(--default-accent);
  height: 150px;
}

input[type=text]:focus {
  border-color: var(--background-colour);
  outline: none;
  background-color: #FFFFFF;
}

.save:hover {
  border-color: var(--green-colour);
  color: var(--green-colour);
}

.util:hover {
  border-color: var(--default-colour);
  color: var(--default-colour);;
}

.cancel:hover {
  border-color: var(--red-colour);
  color: var(--red-colour);;
}

button.clicked {
  background-color: var(--green-colour);
  border-color: var(--green-colour);
  color: #FFFFFF;
  transition: 0.8s;
  text-align: center;
}

/*========== Error CSS ==========*/
#category_error, #header_error {
background-color: var(--red-accent);
}

#category_error h2, #category_error p, #header_error h2, #header_error p {
border: none;
padding: 5px;
}