/*========== General CSS ==========*/
* {
   box-sizing: border-box;
   font-family: Arial, sans-serif;
}

:root {
   --short-transition: 0.1s;
   --long-transition: 4s;
   --default-colour: #2EB2FF;
   --default-accent: #b9dcf0;
   --green_colour: #5ac25d;
   --background-colour: #f2f2f2;

   --grey_1: #e9e9e9;
}

body {
   background-color: var(--background-colour);
}

.header {
   background-color: var(--default-colour);
   height: 300px;
   display: inline-block;
   width: 100%;
   padding: 50px 10% 0 10%;
   align-items: center;
}

.hidden {
   display: none;
}

/*========== Topnav CSS ==========*/
.topnav {
   padding: 0px 20px;
   margin: 0px auto;
   width: 80%;
}
.topnav img {
   height: 60px;
   float: left;
}

.topnav_options {
   text-align: right;
}

.topnav button {
   background-color: transparent;
   margin: 10px;
   padding: 5px;
}

.topnav button:hover {
   background-color: #d7d7d7;
   border-radius: 50%;
 }

.topnav .material-symbols-outlined {
   font-variation-settings:
   'FILL' 0,
   'wght' 400,
   'GRAD' 100,
   'opsz' 48;

   font-size: x-large !important;
   vertical-align: bottom;
 }

/*========== Main CSS ==========*/
h1 {
   font-family: Verdana, sans-serif;
   font-size: 40px;
   text-align: center;
   color: var(--default-colour);
}

.main {
   background-color: #FFFFFF;
   border-radius: 20px;
   padding: 20px;
   margin: 0px auto 20px auto;
   width: 80%;
   height: calc(100vh - (16px + 58px + 20px + 60px));
   box-shadow: 0px 0px 10px #c0c0c0;
}

.content {
   display:none;
   height: calc(96% - 45px);
   margin: 25px 0px 10px 0px;
}

.content.active {
   display:block;
}


/*========== Menu CSS ==========*/
.menu_options a {
   display: inline-block;
   padding: 20px 5px;
   color: #333;
   font-size: large;
   text-decoration: none;
   width: 180px;
   background-color: #FFFFFF;
   transition-duration: var(--short-transition);
}

.menu_options span {
   padding-right: 5px;
}

.menu_options a:hover {
   background-color: var(--grey_1);
}

.menu_options a.active {
   box-shadow: 0 3px 0 var(--default-colour);
   color: var(--default-colour);
}

.menu_options .material-symbols-outlined {
   font-variation-settings:
   'FILL' 0,
   'wght' 700,
   'GRAD' 200,
   'opsz' 48;

   font-size: large !important;
   vertical-align: bottom;
   margin-bottom: 2px;
 }

 /*========== Side Panel CSS ==========*/

 .panel {
   background-color: #FFFFFF;
   border-radius: 10px;
   padding: 20px;
   margin: 0px 20px 20px 0px;
   width: 200px;
   height: 100%;
   box-shadow: 0px 0px 10px #c0c0c0;
   float: left;
   position: relative;
 }

 .panel button, select {
   width: 150px;
   border-radius: 15px;
   text-align: left;
   padding: 0px 20px;
   height: 50px;
   background-color: var(--background-colour);
   border: 3px solid var(--background-colour);
   font-size: medium;
   margin: 20px 0px;
   transition: 0.8s;
 }

 .buttons {
   position: absolute;
   bottom: 0;
   left: 0;
   display: inline-block;
   margin: 0px 20px;
 }

 .panel button:hover, select:hover {
   transition: var(--short-transition);
   background-color: #FFFFFF;
 }

 .panel select option {
   background-color: var(--default-accent);
   height: 150px;
 }

 .panel .save:hover {
   background-color: #FFFFFF;
   border-color: var(--green_colour);
   color: var(--green_colour);
   transition: 0.5s;
 }

 .panel .save.clicked {
   background-color: var(--green_colour);
   border-color: var(--green_colour);
   color: #FFFFFF;
   transition: 0.8s;
   text-align: center;
 }

 .panel .util:hover {
   background-color: #FFFFFF;
   border-color: var(--default-colour);
   color: var(--default-colour);;
   transition: 0.5s;
 }

.panel .material-symbols-outlined {
   font-variation-settings:
   'FILL' 0,
   'wght' 700,
   'GRAD' 200,
   'opsz' 48;

   font-size: large !important;
   vertical-align: bottom;
   margin-bottom: 2px;
   float: right;
 }

/*========== Table CSS ==========*/
table {
   border-collapse: collapse;
   width: calc(100% - 220px);
 
 }
 
 th, td {
   text-align: left;
   padding: 2px;
 
 }
 
 tr:nth-child(even) {
   background-color: #f2f2f2;
 }
 
 th {
   background-color: #5ac25d;
   color: white;
 }

/*========== Footer CSS ==========*/
.footer {
   background-color: #cccccc;
   padding: 6px 10%;
   width: 100%;
   height: 60px;
}

/*========== Dropdown Button CSS ==========*/
.dropbtn {
   padding: 16px;
   font-size: 16px;
   border: none;
   cursor: pointer;
 }
 
 .dropdown {
   position: relative;
   display: inline-block;
 }
 
 .dropdown-content {
   display: none;
   position: fixed;
   right: calc(10% + 16px + 20px);
   top: 10px;
   z-index: 1;

   background-color: var(--background-colour);
   border-radius: 20px;
   margin: 50px auto;
   width: 150px;
   box-shadow: 0px 0px 10px #c0c0c0;
   text-align: left;
 }
  
 .dropdown:hover .dropdown-content {
   display: block;
 }

 .dropdown-content a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
 }

 .dropdown-content a:hover {
   border-radius: 20px;
   background-color: var(--default-accent);
 }