<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
   <title>Finance Management System</title>
   <link rel="stylesheet" type="text/css" href="common.css"></link>
   <script type="text/javascript" src="scripts.js"></script>
</head>

<body>

    <!-- Utilities -->

    <div class="util_page" id="add_category">

        <div class="util_form">

            <h2>Add Category</h2>

            <div id="add_category_error" th:class="${categories_available}">
                <p>There are no categories not in the current year's budget. Please use the <b>Create Category</b> form to create categories to add here</p>  
            </div>
       
            <form id="add_category_form" method="post">
                
                <table id="category_table">
                    <thead>
                        <th><input name="select_all" value="0" type="checkbox"></th>
                        <th>Name</th>
                        <th>Header</th>
                        <th>Type</th>
                        <th>Last Use</th>
                    </thead>
                    <tbody>
                        <tr th:each="category : ${available_categories}">
                            <td><input type="checkbox" id="c_add_checkbox" name="c_add_checkbox" th:value="${category[0]}"></td>
                            <td th:text="${category[1]}"></td>
                            <td th:text="${category[2]}"></td>
                            <td th:text="${category[3]}"></td>
                            <td th:text="${category[4]}"></td>
                        </tr>
                    </tbody>
                </table>

                <button type="button" class="cancel" onclick="hideForm()">Cancel</button>
                <button type="submit" class="save">Add</button>
            </form>

        </div>

    </div>

    <div class="util_page" id="create_category">

        <div class="util_form">

            <h2>Create Category</h2>

            <div id="category_error" th:class="${category_exists[0]}">
                <h2>Error!</h2>
                <p th:text="'A category named &quot;' + ${category_exists[1]} + '&quot; already exists in the ' + ${category_exists[3]} + ' header &quot;' + ${category_exists[2]} + '&quot;'"></p>  
            </div>
        
            <form id="create_category_form" method="post">
                <label>Name:</label>
                <input id="c_name_input" name="c_name_input" class="text_input" type="text" >
    
                <label for="c_type_select">Type:</label>
                <select id="c_type_select" name="c_type_select">
                    <option th:each="type: ${c_types}" th:text="${type}" th:value="${type}"></option>
                </select>

                <label for="c_income_header_select">Header:</label>
                <select id="c_income_header_select" name="c_income_header_select">
                    <option th:each="header: ${c_income_headers}" th:text="${header}" th:value="${header}"></option>
                </select>
                <select id="c_expense_header_select" name="c_expense_header_select" class="hidden">
                    <option th:each="header: ${c_expense_headers}" th:text="${header}" th:value="${header}"></option>
                </select>

                <button type="button" class="cancel" onclick="hideForm()">Cancel</button>
                <button type="submit" class="save">Add</button>
            </form>

        </div>

    </div>

    <div class="util_page" id="create_header">

        <div class="util_form">

            <h2>Create Header</h2>

            <div id="header_error" th:class="${header_exists[0]}">
                <h2>Error!</h2>
                <p th:text="'An ' + ${header_exists[2]} + ' header named &quot;' + ${header_exists[1]} + '&quot; already exists'"></p>  
            </div>
        
            <form id="create_header_form" method="post">
                <label>Name:</label>
                <input id="h_name_input" name="h_name_input" class="text_input" type="text" >
    
                <label for="h_type_select">Type:</label>
                <select id="h_type_select" name="h_type_select">
                    <option th:each="type: ${h_types}" th:text="${type}" th:value="${type}"></option>
                </select>

                <button type="button" class="cancel" onclick="hideForm()">Cancel</button>
                <button type="submit" class="save">Add</button>
            </form>

        </div>
        
    </div>

    <div class="util_page" id="import_budget">

        <div class="util_form">

            <h2>Import Budget</h2>

            <div id="add_category_error">
                <p>Import a previous year's budget into this year. Select <b>override</b> to replace all values in this year's budget. You may need to reload the page after completeing this operation</p>  
            </div>
        
            <form id="import_budget_form" method="post">
            
                <label for="b_year_select">Year:</label>
                <select id="b_year_select" name="b_year_select">
                    <option th:each="year: ${import_years.keySet()}" th:text="${year}" th:value="${year}" th:selected="${import_years.get(year)}"></option>
                </select>

                <label for="b_override_input">Override:</label>
                <input id="b_override_input" name="b_override_input" type="checkbox">

                <button type="button" class="cancel" onclick="hideForm()">Cancel</button>
                <button type="submit" class="save">Import</button>
            </form>

        </div>
        
    </div>

    <div class="util_page" id="logged_out">

        <div class="util_form">

            <h2>Logged Out!</h2>

            <div id="add_category_error">
                <p>You can now close this tab</p>  
            </div>

        </div>
        
    </div>

    <!-- Topnav -->

    <div class="topnav">
        <a href="/"> <img src="/logo.jpg"></a>
        
        <div class="topnav_options">

            <div class="dropdown">
                <button class="dropbtn"> <span class="material-symbols-outlined">add_circle</span> </button>
                <div class="dropdown-content">
                    <a href="#" onclick="showForm('add_category')">Add Category</a>
                    <a href="#" onclick="showForm('create_category')">Create Category</a>
                    <a href="#" onclick="showForm('create_header')">Create Header</a>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropbtn"> <span class="material-symbols-outlined">settings</span> </button>
                <div class="dropdown-content">
                    <a href="#">Change Theme</a>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropbtn"> <span class="material-symbols-outlined">account_circle</span> </button>
                <div class="dropdown-content">
                    <a href="#">Edit Profile</a>
                    <a href="#" onclick="quit()">Log Out</a>
                </div>
            </div>

        </div>
    
        <form method="post">
            <input class="hidden" name="quit" id="quit" value="0">
        </form>

    </div>

    <!-- Body -->

    <div class="main">

        <div class="page" id="page">
            
            <div class="menu">  
                
                <div class="menu_options">
                    <a id="btn_dashboard" href="#home" onclick="showContent('dashboard');">
                        <span class="material-symbols-outlined">dashboard</span>Dashboard</a>
                    <a id="btn_budget" href="#budget" onclick="showContent('budget');">
                        <span class="material-symbols-outlined">grid_on</span>Budget</a>
                    <a id="btn_summary" href="#summary" onclick="showContent('summary');">
                        <span class="material-symbols-outlined">analytics</span>Summary</a>
                    <a id="btn_statement" href="#statement" onclick="showContent('statement')">
                        <span class="material-symbols-outlined">format_list_bulleted</span>Statement</a>
                </div>

            </div>   
            
            <!-- Dashboard -->

            <section id="dashboard" class="content">
                <h1>Dashboard</h2>
                <p>Text here.</p>
            </section>

            <!-- Budget -->

            <section id="budget" class="content">
                
                <div class="panel">

                    <form action="/#budget" method="post">

                        <select name="budget_year_selector" onchange="saveState(); this.form.submit();">
                            <option th:each="year: ${budget_years.keySet()}" th:text="${year}" th:value="${year}" th:selected="${budget_years.get(year)}"></option>
                        </select>
                                        
                    </form>

                    <div class=buttons>
                        
                        <button class="util" type="button" onclick="showForm('import_budget')"><span>Import</span><span class="material-symbols-outlined">upload</span></button>
                        <button class="save" type="submit" form="budget_form" onclick="tempChangeText(this, 'Saved!')"><span>Save</span><span class="material-symbols-outlined">save</span></button>
                    
                    </div>
                </div>

                <div class="display">

                    <form action="/#budget" method="post" id="budget_form">

                        <select class="hidden" name="budget_year_selector_alt"></select>

                        <div class="type" th:id="typeIncomes">

                            <h2 th:id="Incomes" th:text="Incomes"></h2>

                            <div class="headers">

                                <div class="header" th:each="header : ${budget_incomes_table}">

                                    <h3 th:text="${header[0][1].value}"></h3>

                                    <table class="budget_table">
                                        <thead>
                                            <th>Type</th>
                                            <th>Header</th>
                                            <th>Category</th>
                                            <th>Jan</th>
                                            <th>Feb</th>
                                            <th>Mar</th>
                                            <th>Apr</th>
                                            <th>May</th>
                                            <th>Jun</th>
                                            <th>Jul</th>
                                            <th>Aug</th>
                                            <th>Sep</th>
                                            <th>Oct</th>
                                            <th>Nov</th>
                                            <th>Dec</th>
                                            <th>Total</th>
                                        </thead>
                                        <tbody>
                                            <tr th:each="category : ${header}">
                                                <td th:each="value : ${category}">
                                                    <input name="budget_table" th:value="${value.value}" th:title="${value.tooltip}"></input>
                                                </td>  
                                            </tr>
                                        </tbody>
                
                                    </table>

                                </div>

                            </div>

                        </div>

                        <div class="type" th:id="typeExpenses">

                            <h2 th:id="Expenses" th:text="Expenses"></h2>

                            <div class="headers">

                                <div class="header" th:each="header : ${budget_expenses_table}">

                                    <h3 th:text="${header[0][1].value}"></h3>

                                    <table class="budget_table">
                                        <thead>
                                            <th>Type</th>
                                            <th>Header</th>
                                            <th>Category</th>
                                            <th>Jan</th>
                                            <th>Feb</th>
                                            <th>Mar</th>
                                            <th>Apr</th>
                                            <th>May</th>
                                            <th>Jun</th>
                                            <th>Jul</th>
                                            <th>Aug</th>
                                            <th>Sep</th>
                                            <th>Oct</th>
                                            <th>Nov</th>
                                            <th>Dec</th>
                                            <th>Total</th>
                                        </thead>
                                        <tbody>
                                            <tr th:each="category : ${header}">
                                                <td th:each="value : ${category}">
                                                    <input name="budget_table" th:value="${value.value}" th:title="${value.tooltip}"></input>
                                                </td>  
                                            </tr>
                                        </tbody>
                
                                    </table>

                                </div>

                            </div>

                        </div>

                        <div class="type" th:id="typeBalance">

                            <h2 th:id="Balance" th:text="Balance"></h2>

                            <div class="headers">

                                <div class="header" th:each="header : ${budget_balance_table}">

                                    <h3 th:text="${header[0][1].value}"></h3>

                                    <table class="budget_table">
                                        <thead>
                                            <th>Type</th>
                                            <th>Header</th>
                                            <th>Category</th>
                                            <th>Jan</th>
                                            <th>Feb</th>
                                            <th>Mar</th>
                                            <th>Apr</th>
                                            <th>May</th>
                                            <th>Jun</th>
                                            <th>Jul</th>
                                            <th>Aug</th>
                                            <th>Sep</th>
                                            <th>Oct</th>
                                            <th>Nov</th>
                                            <th>Dec</th>
                                            <th>Total</th>
                                        </thead>
                                        <tbody>
                                            <tr th:each="category : ${header}">
                                                <td th:each="value : ${category}">
                                                    <input name="budget_table" th:value="${value.value}" th:title="${value.tooltip}" readonly></input>
                                                </td>  
                                            </tr>
                                        </tbody>
                
                                    </table>

                                </div>

                            </div>

                        </div>
                    
                    </form>

                </div>     

            </section>

            <!-- Summary -->

            <section id="summary" class="content">

                <div class="panel">

                    <form action="/#summary" method="post">

                        <select name="summary_year_selector" onchange="saveState(); this.form.submit()">
                            <option th:each="year: ${summary_years.keySet()}" th:text="${year}" th:value="${year}" th:selected="${summary_years.get(year)}"></option>
                        </select>
                                        
                    </form>

                </div>

                <div class="display">

                    <form action="/#summary" method="post" id="summary_form">

                        <div class="type" th:id="typeIncomes">

                            <h2 th:id="Incomes" th:text="Incomes"></h2>

                            <div class="headers">

                                <div class="header" th:each="header : ${summary_incomes_table}">

                                    <h3 th:text="${header[0][1].value}"></h3>

                                    <table class="budget_table">
                                        <thead>
                                            <th>Type</th>
                                            <th>Header</th>
                                            <th>Category</th>
                                            <th>Jan</th>
                                            <th>Feb</th>
                                            <th>Mar</th>
                                            <th>Apr</th>
                                            <th>May</th>
                                            <th>Jun</th>
                                            <th>Jul</th>
                                            <th>Aug</th>
                                            <th>Sep</th>
                                            <th>Oct</th>
                                            <th>Nov</th>
                                            <th>Dec</th>
                                            <th>Total</th>
                                        </thead>
                                        <tbody>
                                            <tr th:each="category : ${header}">
                                                <td th:each="value : ${category}">
                                                    <input name="summary_table" th:value="${value.value}" th:title="${value.tooltip}" th:style="'color:' + ${value.colour}"  readonly></input>
                                                </td>  
                                            </tr>
                                        </tbody>
                
                                    </table>

                                </div>

                            </div>

                        </div>

                        <div class="type" th:id="typeExpenses">

                            <h2 th:id="Expenses" th:text="Expenses"></h2>

                            <div class="headers">

                                <div class="header" th:each="header : ${summary_expenses_table}">

                                    <h3 th:text="${header[0][1].value}"></h3>

                                    <table class="budget_table">
                                        <thead>
                                            <th>Type</th>
                                            <th>Header</th>
                                            <th>Category</th>
                                            <th>Jan</th>
                                            <th>Feb</th>
                                            <th>Mar</th>
                                            <th>Apr</th>
                                            <th>May</th>
                                            <th>Jun</th>
                                            <th>Jul</th>
                                            <th>Aug</th>
                                            <th>Sep</th>
                                            <th>Oct</th>
                                            <th>Nov</th>
                                            <th>Dec</th>
                                            <th>Total</th>
                                        </thead>
                                        <tbody>
                                            <tr th:each="category : ${header}">
                                                <td th:each="value : ${category}">
                                                    <input name="summary_table" th:value="${value.value}" th:title="${value.tooltip}" th:style="'color:' + ${value.colour}" readonly></input>
                                                </td>  
                                            </tr>
                                        </tbody>
                
                                    </table>

                                </div>

                            </div>

                        </div>

                        <div class="type" th:id="typeBalance">

                            <h2 th:id="Balance" th:text="Balance"></h2>

                            <div class="headers">

                                <div class="header" th:each="header : ${summary_balance_table}">

                                    <h3 th:text="${header[0][1].value}"></h3>

                                    <table class="budget_table">
                                        <thead>
                                            <th>Type</th>
                                            <th>Header</th>
                                            <th>Category</th>
                                            <th>Jan</th>
                                            <th>Feb</th>
                                            <th>Mar</th>
                                            <th>Apr</th>
                                            <th>May</th>
                                            <th>Jun</th>
                                            <th>Jul</th>
                                            <th>Aug</th>
                                            <th>Sep</th>
                                            <th>Oct</th>
                                            <th>Nov</th>
                                            <th>Dec</th>
                                            <th>Total</th>
                                        </thead>
                                        <tbody>
                                            <tr th:each="category : ${header}">
                                                <td th:each="value : ${category}" >
                                                    <input name="summary_table" th:value="${value.value}" th:title="${value.tooltip}" th:style="'color:' + ${value.colour}"  readonly></input>
                                                </td>  
                                            </tr>
                                        </tbody>
                
                                    </table>

                                </div>

                            </div>

                        </div>
                    
                    </form>

                </div>   

            </section>

            <!-- Statement -->

            <section id="statement" class="content">
              
                <div class="panel">

                    <form action="/#statement" method="post">

                        <select name="statement_year_selector" onchange="saveState(); this.form.submit()">
                            <option th:each="year: ${statement_years.keySet()}" th:text="${year}" th:value="${year}" th:selected="${statement_years.get(year)}"></option>
                        </select>

                        <select name="statement_month_selector" onchange="saveState(); this.form.submit()">
                            <option th:each="month: ${statement_months.keySet()}" th:text="${month}" th:value="${month}" th:selected="${statement_months.get(month)}"></option>
                        </select>
                                        
                    </form>

                    <div class=buttons>
                        
                        <button class="save" type="submit" form="statement_form" onclick="tempChangeText(this, 'Saved!')"><span>Save</span><span class="material-symbols-outlined">save</span></button>
                    
                    </div>
                </div>

                <div class="display">

                    <div class="column" id="columnSummary">

                        <div class="type" th:id="typeIncomes">

                            <h2 th:id="Incomes" th:text="Incomes"></h2>

                            <div class="headers">

                                <div class="header" th:each="header : ${statement_incomes_table}">

                                    <h3 th:text="${header[0][1].value}"></h3>

                                    <table class="budget_table">
                                        <thead>
                                            <th>Type</th>
                                            <th>Header</th>
                                            <th>Category</th>
                                            <th>Week 1</th>
                                            <th>Week 2</th>
                                            <th>Week 3</th>
                                            <th>Week 4</th>
                                            <th>Week 5</th>
                                            <th>Total</th>
                                        </thead>
                                        <tbody>
                                            <tr th:each="category : ${header}">
                                                <td th:each="value : ${category}">
                                                    <input name="budget_table" th:value="${value.value}" th:title="${value.tooltip}" readonly></input>
                                                </td>  
                                            </tr>
                                        </tbody>
                
                                    </table>

                                </div>

                            </div>

                        </div>

                        <div class="type" th:id="typeExpenses">

                            <h2 th:id="Expenses" th:text="Expenses"></h2>

                            <div class="headers">

                                <div class="header" th:each="header : ${statement_expenses_table}">

                                    <h3 th:text="${header[0][1].value}"></h3>

                                    <table class="budget_table">
                                        <thead>
                                            <th>Type</th>
                                            <th>Header</th>
                                            <th>Category</th>
                                            <th>Week 1</th>
                                            <th>Week 2</th>
                                            <th>Week 3</th>
                                            <th>Week 4</th>
                                            <th>Week 5</th>
                                            <th>Total</th>
                                        </thead>
                                        <tbody>
                                            <tr th:each="category : ${header}">
                                                <td th:each="value : ${category}">
                                                    <input name="budget_table" th:value="${value.value}" th:title="${value.tooltip}" readonly></input>
                                                </td>  
                                            </tr>
                                        </tbody>
                
                                    </table>

                                </div>

                            </div>

                        </div>

                        <div class="type" th:id="typeBalance">

                            <h2 th:id="Balance" th:text="Balance"></h2>

                            <div class="headers">

                                <div class="header" th:each="header : ${statement_balance_table}">

                                    <h3 th:text="${header[0][1].value}"></h3>

                                    <table class="budget_table">
                                        <thead>
                                            <th>Type</th>
                                            <th>Header</th>
                                            <th>Category</th>
                                            <th>Week 1</th>
                                            <th>Week 2</th>
                                            <th>Week 3</th>
                                            <th>Week 4</th>
                                            <th>Week 5</th>
                                            <th>Total</th>
                                        </thead>
                                        <tbody>
                                            <tr th:each="category : ${header}">
                                                <td th:each="value : ${category}">
                                                    <input name="budget_table" th:value="${value.value}" th:title="${value.tooltip}" readonly></input>
                                                </td>  
                                            </tr>
                                        </tbody>
                
                                    </table>

                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="column" id="columnCashflow">

                        <div class="type" th:id="typeCashflow">

                            <div class="headers">

                                <div class="header">

                                    <div class="list" th:id="list">

                                        <form action="/#statement" method="post" id="statement_form">

                                            <select class="hidden" name="statement_year_selector_alt_alt"></select>
                                            <select class="hidden" name="statement_month_selector_alt_alt"></select>

                                            <table class="cashflow_table">
                                                <thead>
                                                    <th class="hidden">Id</th>
                                                    <th>Type</th>
                                                    <th>Header</th>
                                                    <th>Category</th>
                                                    <th>Value</th>
                                                    <th>Details</th>
                                                    <th>Date</th>
                                                </thead>
                                                <tbody>
                                                    <tr th:each="entry : ${cashflow_table}">
                                                        <td class="hidden">
                                                            <input name="cashflow_table" th:value="${entry[0]}"></input>
                                                        </td>
                                                        <td>
                                                            <select name="cashflow_table">
                                                            <option value="" disabled>Type</option>
                                                            <option value="Incomes" th:selected="${entry[1] == 'Incomes'}">Incomes</option>
                                                            <option value="Expenses" th:selected="${entry[1] == 'Expenses'}">Expenses</option>
                                                            </select>
                                                        </td>  
                                                        <td>
                                                            <select name="cashflow_table" th:value="${entry[2]}">
                                                            <option value="" disabled>Header</option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select name="cashflow_table" th:value="${entry[3]}">
                                                            <option value="" disabled>Category</option>
                                                            </select>
                                                        </td>   
                                                        <td>
                                                            <span>$</span><input name="cashflow_table" type="number" th:value="${entry[4]}" min="0" step="0.01"></input>
                                                        </td>  
                                                        <td th:title="${entry[5]}">
                                                            <input name="cashflow_table" type="text" th:value="${entry[5]}"></input>
                                                        </td>  
                                                        <td>
                                                            <input name="cashflow_table" type="date" th:value="${entry[6]}" th:min="${date_min}" th:max="${date_max}"></input>
                                                        </td> 
                                                    </tr>
                                                </tbody>

                                            </table>
                                            
                                        </form>

                                    </div>

                                </div>

                                <div class="header" id="cashflow_header">

                                    <form action="/#statement" method="post" id="cashflow_form">

                                        <select class="hidden" name="statement_year_selector_alt"></select>
                                        <select class="hidden" name="statement_month_selector_alt"></select>

                                        <select name="cashflow_type" id="cashflow_type_select">
                                            <option value="" disabled selected>Type</option>
                                            <option value="Incomes">Incomes</option>
                                            <option value="Expenses">Expenses</option>
                                        </select>
                                        
                                        <select name="cashflow_header" id="cashflow_header_select">
                                            <option value="" disabled selected>Header</option>
                                        </select>
                                        
                                        <select name="cashflow_category" id="cashflow_category_select">
                                            <option value="" disabled selected>Category</option>
                                        </select>

                                        <script th:inline="javascript">
                                            /*<![CDATA[*/
                                            let cashflow_headers = /*[[${cashflow_headers}]]*/ [];
                                            let cashflow_categories = /*[[${cashflow_categories}]]*/ [];
                                            /*]]>*/
                                            window.cashflow_headers = cashflow_headers;
                                            window.cashflow_categories = cashflow_categories;
                                        </script>

                                        <input placeholder="Value" name="cashflow_value" type="number" id="cashflow_value" min="0" step="0.01"></input>  
                                        <input placeholder="Date" name="cashflow_date" type="date" id="cashflow_date" th:min="${date_min}" th:max="${date_max}"></input> 
                                        <input placeholder="Details" name="cashflow_details" id="cashflow_details"></input>  

                                        <button class="save" type="submit" form="cashflow_form" onclick="tempChangeText(this, 'Saved!')"><span>Add</span><span class="material-symbols-outlined">Add</span></button>

                                    </form>
                                
                                </div>

                            </div>

                        </div>

                    </div>
                    
                </div>

            </section>

        </div>
    </div>

</body>